.gulirkeatas {
    position: fixed;
    right: 2.5rem;
    bottom: -20%;
    background-color: var(--warna-judul);
    opacity: 0.8;
    padding: 0.3rem 0.5rem;
    border-radius: 0.4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
}

.ikon__gulirkeatas {
    font-size: 1.5rem;
    color: var(--warna-container);
}

.gulirkeatas:hover {
    background-color: var(--warna-judul-gelap);
}

.perlihatkan {
    bottom: 3rem;
}

@media screen and (max-width: 992px) {
    .gulirkeatas {
        right: 1.5rem;
        padding: 0.25rem 0.4rem;
    }

    .ikon__gulirkeatas {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 768px) {
    .gulirkeatas {
        bottom: 4rem;
    }
}

@media screen and (max-width: 350px) {
    .gulirkeatas {
        right: 1rem;
    }
}