/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABEL CSS ===============*/
:root {
  --tinggi-header: 3rem;

  /*========== Warna ==========*/
  /*Mode warna HSL(hue, saturation, lightness)*/
  --hue: 0;
  --sat: 0%;
  --warna-judul: hsl(var(--hue), var(--sat), 40%);
  --warna-judul2: hsl(var(--hue), var(--sat), 10%);
  --warna-judul-gelap: hsl(var(--hue), var(--sat), 0%);
  --warna-teks: hsl(var(--hue), var(--sat), 46%);
  --warna-tubuh: hsl(var(--hue), var(--sat), 98%);
  --warna-container: #fff;

  /*========== Font dan tipografi ==========*/
  --font-tubuh: "Poppins", sans-serif;

  /*.5rem = 8px | 1rem = 16px ...*/
  --ukuran-font-besar: 3.5rem;
  --ukuran-h1: 2.25rem;
  --ukuran-h2: 1.5rem;
  --ukuran-h3: 1.25rem;
  --ukuran-font-normal: 1rem;
  --ukuran-font-kecil: 0.875rem;
  --ukuran-font-lebih-kecil: 0.813rem;
  --ukuran-font-kecil-sekali: 0.625rem;

  /*========== Ketebalan Font ==========*/
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margin Bawah ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Tipografi Responsif */
@media screen and (max-width: 992px) {
  :root {
    --ukuran-font-besar: 2.75rem;
    --ukuran-h1: 1.5rem;
    --ukuran-h2: 1.25rem;
    --ukuran-h3: 1rem;
    --ukuran-font-normal: 0.938rem;
    --ukuran-font-kecil: 0.813rem;
    --ukuran-font-lebih-kecil: 0.75rem;
  }
}

/*=============== DASAR ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
tombol,
input,
textarea {
  font-family: var(--font-tubuh);
  font-size: var(--ukuran-font-normal);
}

body {
  background-color: var(--warna-tubuh);
  color: var(--warna-teks);
}

h1,
h2,
h3 {
  color: var(--warna-judul2);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

tombol {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== KELAS CSS YANG DAPAT DIGUNAKAN KEMBALI ===============*/
.bagian {
  padding: 6rem 0 2rem;
}

.bagian__judul {
  font-size: var(--ukuran-h1);
  color: var(--warna-judul);
}

.bagian__subjudul {
  display: block;
  font-size: var(--ukuran-font-kecil);
  margin-bottom: 4rem;
}

.bagian__judul,
.bagian__subjudul {
  text-align: center;
}

/*=============== LAYOUT ===============*/
.wadah {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.jaringan {
  display: grid;
  gap: 1.5rem;
}

/*=============== TOMBOL ===============*/
.tombol {
  display: inline-block;
  background-color: var(--warna-judul2);
  color: var(--warna-container);
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: var(--font-medium);
}

.tombol:hover {
  background-color: var(--warna-judul-gelap);
}

.tombol__ikon {
  margin-left: var(--mb-0-5);
}

.tombol--flex {
  display: inline-flex;
  align-items: center;
}

/*=============== BREAKPOINTS ===============*/
/* Untuk perangkat besar */
@media screen and (max-width: 992px) {
  .wadah {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }

  .tombol {
    padding: 1rem 1.75rem;
  }

  .tombol__ikon {
    width: 22px;
    height: 22px;
  }
}

/* Untuk perangkat menengah */
@media screen and (max-width: 768px) {
  body {
    margin: 0 0 var(--tinggi-header) 0;
  }

  .bagian {
    padding: 2rem 0 4rem;
  }

  .bagian__subjudul {
    margin-bottom: var(--mb-3);
  }
}

@media screen and (max-width: 576px) {
}

/* Untuk perangkat kecil */
@media screen and (max-width: 350px) {
  :root {
    --ukuran-font-besar: 2.25rem;
  }

  .wadah {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
}
